
<form   #saveForm="ngForm" (ngSubmit)="confirmEmail(saveForm)" >
  <div class="mb-3">
    <label for="userId" class="form-label">UserID</label>
    <input type="text" class="form-control" id="userId" aria-describedby="emailHelp"    [ngModel]="emailcheck.userId"   name="userId"  readonly>

  </div>
  <div class="mb-3">
    <label for="enterCode" class="form-label">ENTER CODE</label>
    <input type="text" class="form-control" id="enterCode"   [ngModel]="emailcheck.code"   name="code" >
  </div>


  <button type="submit" class="btn btn-primary">REGISTER</button>
</form>

