
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form Design</title>
  <link rel="stylesheet" href="/register-page.component.css">
</head>
<body>
New

<div class="container">

  <div class="image_box">
    <img src="./Green_Tree_png_Image.png">
  </div>

  <div class="box">
    <h2>Login</h2>
    <form action="#">

      <div class="input_box">
        <input type="text" required>
        <label>Name</label>
      </div>


      <div class="input_box">
        <input type="text" required>
        <label>Surname</label>
      </div>

      <div class="input_box">
        <input type="text" required>
        <label>T.C</label>
      </div>
      <div class="input_box">
        <input type="date" required>
        <label>Year</label>
      </div>
      <div class="input_box">
        <input type="text" required>
        <label>Username</label>
      </div>

      <div class="input_box">
        <input type="email" required>
        <label>Email</label>
      </div>
      <div class="input_box">
        <input type="text" required>
        <label>Phone Number</label>
      </div>

      <div class="input_box">
        <input type="text" required>
        <label>Password</label>
      </div>
      <div class="input_box">
        <input type="text" required>
        <label>Confirm Password</label>
      </div>

      <label class="checkbox"><input type="checkbox"><p>Show Password</p></label>


      <button class="login_button" type="submit">REGISTER</button>

      <div class="link_box">
        <div class="signup_link">Don't have an account? <a href="#">Sign Up</a></div>
        <div class="contact_link">Need Help? <a href="#">Contact Us</a></div>
      </div>

    </form>
  </div>

</div>

</body>
</html>
