<p>scheduler works!</p>
<form>
  <div class="mb-3">
    <label for="entertitle" class="form-label">ENTER TITLE</label>
    <input type="text" class="form-control" id="entertitle" aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="enterLocation" class="form-label">ENTER LOCATION</label>
    <input type="text" class="form-control" id="enterLocation">
  </div>
  <div class="mb-3">
    <label for="enterTime" class="form-label">ENTER Tıme</label>
    <input type="time" class="form-control" id="enterTime">
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>
